
/*paleta de colore, también se puede inicializar variables globales entre otras cosas */
:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --gris-claro: #DFE9F3;

    --fuente-principal: 3.8rem; 
}
/*hack para convertir rem´s a escala de 10 pixeles */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    /*efecto scroll*/
    scroll-snap-type: y mandatory;
}

/*scroll snap*/
.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* BOX-SIZING*/
*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif; /*fuente de google fonts*/
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
}
/*hack para convertir rem´s a escala de 10 pixeles */

/*hace referencia a la clase de la etiqueta h1 
  <h1 class="titulo">FRANCISCO LÓPEZ <span>Freelancer</span> </h1>
*/

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1, h2, h3{
    text-align: center; 
}

/*
//selector al span dentro de titulo
h1.titulo span{
    font-size: 2rem;
    color: blue;
}
*/

.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(143,143,143,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(143,143,143,0.54);
    box-shadow: 0px 5px 15px 0px rgba(143,143,143,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.titulo span{
    font-size: 2rem;
}

/*se puede asignar la misma clase a diferentes etiquetas para reutilizar código*/


/*Navegación*/
.contenedor{
    max-width: 120rem;
    /*
    margin: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */

    /*otra forma de utilizar margin:  margin:0 auto 0 auto;*/
    /*forma resumida*/
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    font-style: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

@media(min-width: 768px){
    .boton{
        width: auto;
    }
}

.boton:hover{
    cursor: pointer;
}

/*Utilidades*/
.w-100{
    width: 100%;
}

@media(min-width: 768px){
    .w-100{
        width: auto;
    }
}

.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

.nav-bg{
    background-color: var(--secundario);
}

/*flexbox se aplica al elemento padre de los elementos que se quieren acomodar*/
.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items:center; /*centra cuando están en columnas*/
}

@media(min-width: 480px){ /*resolucion de tablets para arriba se aplica*/
    .navegacion-principal{
        flex-direction: row;
        justify-content:space-around; /*les da espacio a los enlaces*/
    }
}

/* 480 para teléfonos, 768 para tablets, 1140 laptop, 1440 para mas grande*/

/*Media Querie es para el desarrollo responsive (adaptar sitio a diferentes
dispositivos)*/

/*para crea en automatico en USER SPIN
	"crea un Media Querie":{
		"prefix": "mq", 
		"body": "@media(min-width: $1){\n    $2\n}"
	}
*/
.navegacion-principal a{
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

/*hover dispara un evento al pasar el mouse*/
.navegacion-principal a:hover{
    background-color:var(--primario);
    color: var(--oscuro);
}

/*se aplicara el BOX MODEL
box sizing: border-box https://www.paulirish.com/2012/box-sizing-border-box-ftw/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


*/
.hero{
    /*manejo de la imagen*/
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*toma todo el ancho*/
    height: 450px;
    padding: 20px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    /*para que la sombra tome toda la imagen*/
    background-color: rgba(0, 0, 0, 0.7);
    /*nueva forma*/
    background-color: rgb( 0 0 0 / 70%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*O con width y height al 100% quitando el padding al hero(elemento padre)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /** alinea vertical y horizontalmente*/

}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}

@media(min-width: 768px){
    .servicios{
        /*acomoda los servicios*/
        display: grid;
        grid-template-columns: repeat(3, 1fr); /*divide un entero en 3*/
      /*grid-template-columns: 30rem 30rem;
        grid-template-rows: 20rem 80rem;
        grid: 20rem 80rem / 30rem 30rem es igual que arriba*/
        column-gap: 1rem; /*crea margen en columnas*/
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}

.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    /*alinear iconos*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*formulario*/
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/*utiliza el valor mas pequeño*/
    margin: 0 auto;/*centra horizontalmente el form*/
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}


.formulario legend{
    text-align: center;
    font-size: 1.87rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media(min-width: 768px){
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }  
    
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo textarea{
    height: 20rem;
}


.enviar .boton{
    width: 100%;
}

footer{
    text-align: center;
}
/*continua video 24*/